@import "../../app.component.scss";
.btn-primary{
    background-color: $bg-whiteGreen!important;
}

.bg-cardHeader{
    background-color: $bg-whiteGreen!important;
}

.container{
    height: auto!important;
}