<div class="sidebar d-flex-column justify-content-center " style="max-width: 100%;">
    <br>
    <div class="dropdown text-center" >


        <a class="btn dropdown-toggle" style="color:white;" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            {{userName}}
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" (click)="logout()">Cerrar Sesión</a>

        </div>
    </div>
    <hr style="background-color: #fff; padding: 1%">   
    <ul class="nav flex-column text-center">
        <br>
        <li class="nav-item">
      
            <a class="nav-link" [routerLink]="['/home/clients']" style="color:white;"><i class="fa fa-user"style="font-size:24px"></i>  Clientes</a>
            
            
        </li>
        <br>
        <li class="nav-item">
           <a class="nav-link" style="color:white;" [routerLink]="['/home/extinguisher']"><i class="fas fa-fire-extinguisher"style="font-size:32px;"></i>             Matafuegos</a>
           
        </li>
    </ul>
</div>