@import "../../app.component.scss";
.sidebar{
    background: $bg-black;
    height: 100%!important;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.288);
}

.nav-item:hover{
    background-color: #ccc;
    color: black;
}